<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles-game.css">
    <title>Alan Game</title>
</head>
<body>
    <div class="game">
        <div class="painel">
            <span><b>Timer: </b></span><span id="timer">30</span>
            <span><b>Chaves: </b></span><span id="score">0</span><span><b>Meta(20)</b></span>
        </div>
        <div class="paes">
            <img src="assets/pao.png" alt="" class="pao">
            <img src="assets/pao-alho.png" alt="" class="pao-alho">
            <img src="assets/start.png" alt="" class="start">
            <img src="assets/btn-start.png" alt="" class="btn-start">
            <img src="assets/game-over.png" alt="" class="game-over">
            <img src="assets/winner.png" alt="" class="winner">
            <img src="assets/icons/reset.png" alt="" class="reset">
            <img src="assets/icons/off.png" alt="volume" class="music-control">
            <audio id="main" loop src="assets/sound.mp3"></audio>
            <audio id="risa" src="assets/risadinha.mp3"></audio>
            <audio id="uuu" src="assets/uuu.mp3"></audio>
        </div>
        <img src="assets/gu-costas.png" alt="" class="character">
    </div>
</body>
<script src="js/script-game.js"></script>
</html>